// borders
  _(var)
    border 1px solid var
  _bn()
    border none
  _br(var)
    border-radius var

// Display
  _dFlex(justifyContent, alignItems, flexDirection)
    align-items alignItems
    display flex
    flex-direction flexDirection
    justify-content justifyContent
  _dfr(justifyContent, alignItems)
    align-items alignItems
    display flex
    flex-direction row
    justify-content justifyContent
  _dfc(justifyContent, alignItems)
    align-items alignItems
    display flex
    flex-direction column
    justify-content justifyContent
  _fw(var)
    flex-wrap var
  _db()
    display block
  _dn()
    display none
  _dib()
    display inline-block
  _d(var)
    display var
  

// width / height  
  _w(var)
    width var
  _h(var)
    height var
  _maxw(var)
    max-width var
  _minw(var)
    min-width var
  _maxh(var)
    max-height var
  _minh(var)
    min-height var
  _fullW()
    width 100%
  _fullH()
    height 100%


// margin / padding
  _p2(vertical, horizontal)
    padding vertical, horizontal
  _p4(var1, var2, var3, var4)
    padding var1 var2 var3 var4
  _reset(var)
    margin var
    padding var
  _padd(var)
    padding var
  _ph(var)
    padding 0 var
  _pv(var)
    padding var 0
  _ma()
    margin auto
  _m2(var1, var2)
    margin var1 var2
  _m4(var1, var2, var3, var4)
    margin var1 var2 var3 var4
  _mar(var)
    margin var
  _mTop(var)
    margin-top var
  _mRight(var)
    margin-right var
  _mLeft(var)
    margin-left var
  _mBottom(var)
    margin-botom var
  _mHorizontal(var)
    margin 0 var
  _mVertical(var)
    margin var 0
    

// positions 
  _pa()
    position absolute
  _pr()
    position relative
  _r(var)
    right var
  _l(var)
    left var
  _t(var)
    top var
  _b(var)
    bottom var
  _z(var)
    z-index var

// colors 
  _c(var)
    color var
  _bc(color)
    background-color color

// fonts
  _ff(var)
    font-family var
  _fwb()
    font-weight bold
  _fwn()
    font-weight normal
  _fwi()
    font-style italic
  _ta(var)
    text-align var
  _tt(var)
    text-transform var
  _fz(var)
    font-size var
  _fs(var)
    font-style var
  _lh(var)
    line-height var

// links
  _aReset(var)
    text-decoration none
    color var

// menus
  _lsn()
    list-style none